src/*.exe
src/merecoin
src/merecoind
src/test_merecoin
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
.merecoin

# Compilation and Qt preprocessor part
*.qm
Makefile
merecoin-qt
Merecoin-Qt.app

# Unit-tests
Makefile.test
merecoin-qt_test

# Resources cpp
qrc_*.cpp

# Qt creator
*.pro.user

# Mac specific
.DS_Store
build

!src/leveldb*/Makefile
